/CrossTech.ClientApi/bin
/CrossTech.ClientApi/obj
/CrossTech.Core/bin
/CrossTech.Core/obj
/CrossTech.WebApi/bin
/CrossTech.WebApi/obj
/CrossTechTask.WebApp/bin
/CrossTechTask.WebApp/node_modules
/CrossTechTask.WebApp/obj
/CrossTechTask.DAL/bin
/CrossTechTask.DAL/obj
/CrossTech.WebApp/node_modules