<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">

  <variable name="DefaultLayout"
            value="
            ${longdate} 
            ${uppercase:${level}} ${machinename} ${message}
            ${onexception:inner=${newline}${exception:format=ToString}} 
            ${aspnet-request-url:IncludeHost=false:IncludeScheme=false}
            ${aspnet-request-ip}
            ${aspnet-request-referrer}
            ${callsite}         
            "/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="jsonFile" xsi:type="File"
	    archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
	    fileName="${basedir}/logs/${machinename}-${shortdate}.json" >
      <layout xsi:type="JsonLayout" >
        <attribute name="machinename" layout="${machinename}"/>

        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="date" layout="${longdate}"/>
        <attribute name="call-site" layout="${callsite}"/>

        <attribute name="request-url" layout="${aspnet-request-url}"/>
        <attribute name="request-ip" layout="${aspnet-request-ip}"/>
        <attribute name="request-referrer" layout="${aspnet-request-referrer}"/>
        <attribute name="request-method" layout="${aspnet-request-method}"/>

        <attribute name="client-ip" layout="${aspnet-request-ip}"/>
        <attribute name="client-referrer" layout="${aspnet-request-referrer}"/>

        <attribute name="user-agent" layout="${aspnet-request-useragent}"/>

        <attribute name="message" layout="${message}"/>
        <attribute name="exception-message" layout="${onexception:inner=${exception:Message}}"/>
        <attribute name="exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="jsonFile" />
  </rules>
</nlog>